.selected {
	color:#8D56D5;
}

.checkbox {
	//vertical-align: bottom;
	//padding-top: 25vh;
	height: 200%;
	position: relative;
	// text-overflow: ellipsis;
	word-wrap: break-word;
}

// ion-icon {
// 	position: absolute;
// 	vertical-align: middle;
// 	//left: 0px;
// }
//
#note {
	position: relative;
	// vertical-align: middle;
	// padding-left: 25px;
}
