<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item id="list" routerLink="/home" *ngFor="let item of itemsVariables"
								(click)="onSelect(item)"
								[ngClass]="{'selected': cardService.selection == item}">
      <ion-icon name="list-box" slot="start"></ion-icon>
      <!-- {{itemsInterface[itemsVariables.indexOf(items)]}} -->
			{{itemsInterface[itemsVariables.indexOf(item)]}}
    </ion-item>
  </ion-list>
	<ion-item class="checkbox">
		<ion-label>Take me to home page when I choose a deck</ion-label>
		<ion-checkbox color="primary" (click)="checkboxClicked()" checked="true" slot="start"></ion-checkbox>
	</ion-item>
	<!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
