.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card {
	height: 25vh;
	background-color: #3880ff;
	color: white;
	font-size: 10vh;
	text-align: center;
	vertical-align: middle;
	padding-top: 7.5vh; //padding-top = (height - font-size)/2
}

ion-content {
	--color: #989aa2 !important;
}

ion-img {
	height: 75%;
}
