.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card {
	height: 25vh;
	background-color: #FDD023;
	color: white;
	font-size: 10vh;
	text-align: center;
	vertical-align: middle;
	padding-top: 7.5vh; //padding-top = (height - font-size)/2
}

ion-header {
	background-color: #461D7C !important;
	color: #461D7C;
}

ion-content {
	--background: #461D7C !important;
}

ion-img {
	height: 75%;
}
